doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Suspects Game
  body
    main
      h1 You're all suspects :) ! 
      
      p
        a(href="clues/1") 1
      p
        a(href="clues/2") 2
      p
        a(href="clues/3") 3
      p
        a(href="clues/4") 4
      p
        a(href="clues/5") 5
      p
        a(href="clues/6") 6
      p
        a(href="clues/7") 7
      p
        a(href="clues/8") 8
      p
        a(href="clues/9") 9
      p
        a(href="clues/10") 10
      p
        a(href="clues/11") 11
      p
        a(href="clues/12") 12