doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Suspects Game
    link(rel="stylesheet", href="css/main.css")
  body
    main
      section.section.container
        h1.title You're all suspects :) !
        
        a(href="/scan") Scan Code

        br

        p: a(href="clues/week-1") 1
        p: a(href="clues/week-2") 2
        p: a(href="clues/week-3") 3
        p: a(href="clues/week-4") 4
        p: a(href="clues/week-5") 5
        p: a(href="clues/week-6") 6
        p: a(href="clues/week-7") 7
        p: a(href="clues/week-8") 8
        p: a(href="clues/week-9") 9
        p: a(href="clues/week-10") 10
        p: a(href="clues/week-11") 11
        p: a(href="clues/week-12") 12

        p !{process.env.TITLE}
  
  script(src="js/main.js")