doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Suspects Game
    link(rel="stylesheet", href="css/main.css")
  body
    main
      section.section.container
        h1.title You're all suspects :) !
        
        a(href="/scan") Scan Code

        hr

        p: a(href="clues/week-1") Week 1
        br
        p: a(href="clues/week-2a") Week 2a
        br   
        p: a(href="clues/week-2b") Week 2b
        br
        p: a(href="clues/week-2c") Week 2c
        br
        p: a(href="clues/week-3") Week 3
        br
        p: a(href="clues/week-4") Week 4
        br
        p: a(href="clues/week-5") Week 5
        br
        p: a(href="clues/week-6") Week 6
        br
        p: a(href="clues/week-7") Week 7
        br
        p: a(href="clues/week-8") Week 8
        br
        p: a(href="clues/week-9") Week 9
        br
        p: a(href="clues/week-10") Week 10
        br
        p: a(href="clues/week-11") Week 11
        br
        p: a(href="clues/week-12") Week 12
        br
  
  script(src="js/main.js")