doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title QR Scanner Demo
  body
    h1 Scan from WebCam:
    div
      b Device has camera: 
      span#cam-has-camera
      br
      video#qr-video(muted='', playsinline='')
    div
      select#inversion-mode-select
        option(value='original') Scan original (dark QR code on bright background)
        option(value='invert') Scan with inverted colors (bright QR code on dark background)
        option(value='both') Scan both
      br
    b Detected QR code: 
    span#cam-qr-result None
    br
    b Last detected at: 
    span#cam-qr-result-timestamp
    hr

    script(src="js/bundle.js")