doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Suspects Game | no-local-https
    link(rel="stylesheet", href="css/main.css")
  body
    main
      section.section.container
        h1.title Got a clue?
        div
          video#qr-video(muted='', playsinline='')

        b Detected QR code: 
        span#cam-qr-result None
        br

    script(src="js/bundle.js")